@import "tailwindcss";
@keyframes floatSlow {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
}

.animate-float-slow {
  animation: floatSlow 6s ease-in-out infinite;
}
